<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="~/css/StyleSheet.css">
</head>
<body id="Welcome_Page">    
    <h1>Welcome Here My Friend!</h1>
    <p><a href="/game">Start Game</a> / <a href="/list">Edit List</a></p>
</body>
</html>