@model Week_10_Project.Repositories.CarRepository

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="~/css/StyleSheet.css">
</head>
<body id="Welcome_Page">
    <h1>Welcome Here My Friend!</h1>
    <p><a href="/game">Start Game</a></p>
    Password:
    <br /><input id='password' type='text' />
    <a href="/list" onclick="return validatePass()"><br />Car List</a>
    <script>
        function validatePass() {
            if (document.getElementById('password').value == 'brumbrum') {
                return true;
            } else {
                alert('Wrong Password!!');
                return false;
            }
        }
    </script>
</body>
</html>